[submodule "cosp/methods/savn"]
	path = cosp/methods/savn
	url = git@github.com:zkytony/savn.git
[submodule "cosp/methods/mjolnir"]
	path = cosp/methods/mjolnir
	url = git@github.com:zkytony/dmjolnir.git
[submodule "cosp/methods/interex"]
	path = cosp/methods/interex
	url = git@github.com:zkytony/dinterex.git
