[submodule "cosp/methods/savn"]
	path = cosp/methods/savn
	url = git@github.com:zkytony/savn.git
[submodule "cosp/methods/MJOLNIR"]
	path = cosp/methods/mjolnir
	url = git@github.com:zkytony/MJOLNIR.git
